body {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	&.lock-scroll-bars {
		overflow: hidden;
		height: 100vh;
		.home-wrapper nav.internal-nav.front-page {
			z-index: -1;
		}
		.main-nav.navbar {
			display: none;
		}
		#root,
		#main-wrapper,
		#main,
		.home-wrapper,
		.home-article-panel-wrapper {
			overflow: hidden;
			height: 100vh;
		}
	}
}
.changePage.fadeOut {
	background-color: antiquewhite;
	position: "absolute";
	width: "100vw";
	height: "100vh";
	opacity: 1;
	figure {
		//position: relative !important;
	}
}
h1 {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 45px;
	padding: 5px;
}
.could-not-fetch-data {
	display: flex;
	// align-content: center;
	justify-content: center;
	h2 {
		max-width: 400px;
	}
}
#main-wrapper {
	position: relative;
}

#main-header {
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;

	.main-nav {
		position: fixed;
		top: 0;
		right: 0;
		border-bottom-left-radius: 5px;
		background-color: rgb(229 240 249);

		.offcanvas {
			h2 {
				font-size: 22px;
			}
			ul {
				display: flex;
				list-style-type: none;
				padding-left: 0;
				li.nav-item {
					width: 100%;
					a.nav-link {
						display: block;
						border-bottom: 1px solid var(--bs-navbar-color);
						// border-color: var(--bs-navbar-color)
						span {
							display: block;
							width: 100%;
						}
					}
				}
			}
		}
	}
}

#main-footer {
	height: 100vh;
}
@media screen and (max-width: 600px) {
	body {
		word-break: break-word;
	}
}
